<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senac.aula09examples">

    <application
        android:allowBackup="true"
        android:icon="@drawable/music_note"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aula09">
        <activity
            android:name="br.senac.aula09examples.toolbarmenu.ToolbarMenuActivity"
            android:label="M Menus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.senac.aula09examples.tabs.TabActivity"
            android:label="M Abas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.senac.aula09examples.nv.NavigationViewActivity"
            android:label="M NV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.senac.aula09examples.bottomnavigation.BottomNavigationActivity"
            android:label="M BN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>